modules = ["python-3.12", "bash", "nix"]

hidden = [".pythonlibs"]
run = "flask run -h 0.0.0.0 -p 8080 -r"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "flask run -h 0.0.0.0 -p 8080 -r"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80
